.book-details-page {
    padding: 60px;
    text-align: center;
    font-size: larger;
  }
  
  .books-container {
    display: flex;
    justify-content: center; 
  }
  
  .book-details-column {
    flex: 1;
    margin-left: 40px;
    margin-top: 40px;
  }
  
  .chart-column {
    flex: 1;
  }
  
  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .book-container {
    background-color: #000000c3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; 
    margin-right: 20px; 
    width: calc(40% - 50px); 
    max-width: 300px; 
  }
  
  .book-title {
    margin-top: 0;
    color: white;
  }
  
  .book-text {
    margin-bottom: 5px;
    color: white;
  }
  
  .chart-container {
    background-color: #ffffff4f;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.795);
    padding: 20px;
    padding-top: 40px;
    margin-top: 40px; 
  }
  
  .quantitychart-container{
    background-color: #ffffff4f;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.795);
    padding: 20px;
    padding-top: 40px;
    margin-top: 40px; 
  }
  