.MessageList {
    padding: 20px;
    margin-bottom: 500px;
  }
  
  .MessageList h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .MessageList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .MessageList li {
    background-color: rgba(255, 255, 255, 0.6); /* White with 80% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow */
    margin-bottom: 15px;
  }
  
  .MessageList strong {
    color: #333;
  }
  
  .MessageList button {
    padding: 10px 20px;
    background-color: #ff3333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .MessageList button:hover {
    background-color: #cc0000;
  }
  