.add-material-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    padding-right: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1c1c1c1a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.795);
  }
  
  .add-material-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-material-container form div {
    margin-bottom: 15px;
  }
  
  .add-material-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-material-container input[type="text"],
  .add-material-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: medium;
  }
  
  .add-material-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .add-material-container button:hover {
    background-color: #5f5f5f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
  }
  
  .add-material-container .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .add-material-container .success-message {
    color: green;
    margin-top: 10px;
  }
  