nav {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  nav h1 {
    margin-left: 30px; 
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  nav li {
    display: inline;
    margin-right: 5px; 
  }
  
  nav a {
    color: white;
    text-decoration: none; 
  }
  
 
  
  nav ul li {
    display: inline;
  }
  
  .nav-button {
    display: inline-block;
    padding: 5px 12px; 
    background-color: rgba(255, 255, 255, 0.11);
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    border-radius: 5px; 
    border-color: white;
    font-size: small;
  }
  
  .nav-button:hover {
    background-color: #ffffff5b; 
    color: white;
  }